      <table class="table table-hover table-borderless">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">To</th>
          </tr>
        </thead>
        <tbody>
       {{#each draft}}
       <tr>
           <td>{{this.draft_date}}</td>
           <td>{{this.draft_recipient}}</td>    
       </tr>
       {{/each}} 
       </tbody>
      </table>