      <table class="table table-hover table-borderless">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">To</th>
          </tr>
        </thead>
        <tbody>
       {{#each history}}
       <tr>
           <td>{{this.history_date}}</td>
           <td>{{this.history_recipient}}</td>    
       </tr>
       {{/each}} 
       </tbody>
      </table>