<section class="mt-5 row align-items-center">
  <div class="container-fluid d-flex mt-5 justify-content-center align-items-center">
    <h1>Access Your Fermata Here</h1>
  </div>

  <div class="container-fluid d-flex mt-5 justify-content-around align-items-center">
    <h4>Letter Key:</h4>
    <div class="input-form">
      <input type="password" name="" id="letter-key" />
    </div>
  </div>

  <div class="container-fluid d-flex mt-5 justify-content-around align-items-center">
    <h4>Audio Key:</h4>
    <div class="input-form">
      <input type="password" name="" id="audio-key" />
    </div>
  </div>

  <div class="container-fluid d-flex mt-5 justify-content-around align-items-center">
    <button
      type="button"
      class="btn btn-lg btn-outline-dark"
      id="access-btn">
      Next
    </button>
  </div>
</section>
<script src="/javascript/access.js"></script>