 <section class="mt-5 row align-items-center">
  <div class="container-fluid d-flex mt-5 justify-content-center align-items-center">
    <h1>Welcome to Fermata</h1>
  </div>

  <div class="container-fluid d-flex mt-5 justify-content-center align-items-center">
    <a href="/compose/you">
      <button
        type="button"
        class="btn btn-lg btn-outline-dark"
        id="compose-btn">
        Compose
      </button>
    </a>
  </div>

  <div class="container-fluid d-flex ms-2 mt-5">
    <h4>Drafts:</h4>
  </div>
  <div class="container-fluid ms-2 d-flex">
    <a href="#">
      <p class="draft" id="history-item">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </p>
    </a>
  </div>

  <div class="container-fluid d-flex ms-2 mt-5">
    <h4>History:</h4>
  </div>
  <div class="container-fluid ms-2 d-flex">
    <a href="#">
      <p class="history" id="history-item">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </p>
    </a>
  </div>
</section>
<script src="/javascript/dashboard.js"></script>