   <main class="row align-items-center">
      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      ></div>
      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      >
        <h1>Let's Begin</h1>
      </div>

      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      ></div>

      <div
        class="container-fluid d-flex mt-5 justify-content-around align-items-center"
      >
        <a href="/views/layouts/sandbox/Sign-up.html">
          <button
            type="button"
            class="btn btn-lg btn-outline-dark"
            id="signupbegin-btn"
          >
            Sign-Up
          </button></a
        >
      </div>

      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      ></div>
      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      >
        <a href="#"> <p>Already a member? Sign-in here.</p></a>
      </div>
    </main>   <main class="row align-items-center">
      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      ></div>
      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      >
        <h1>Let's Begin</h1>
      </div>

      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      ></div>

      <div
        class="container-fluid d-flex mt-5 justify-content-around align-items-center"
      >
        <a href="/views/layouts/sandbox/Sign-up.html">
          <button
            type="button"
            class="btn btn-lg btn-outline-dark"
            id="signupbegin-btn"
          >
            Sign-Up
          </button></a
        >
      </div>

      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      ></div>
      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      >
        <a href="#"> <p>Already a member? Sign-in here.</p></a>
      </div>
    </main>