 <main>
      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      >
        <h1>Preview</h1>
      </div>

      <div
        class="container-fluid d-flex mt-5 justify-content-around align-items-center"
      >
        <textarea name="" id="letter-preview">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, itaque quod. Dignissimos rerum minus impedit illo suscipit! Facilis, obcaecati nemo.
        </textarea>
      </div>

      <div
        class="container-fluid d-flex mt-5 justify-content-around align-items-center"
      >
        <button type="button" class="btn btn-lg btn-outline-dark" id="send-btn">
          Send
        </button>
      </div>
    </main>