    <main class="mt-5 row align-items-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2 mt-3">
            <h5 id="their-name">Jennifer Lopez</h5>
            <h5 id="their-email">jennyfromtheblock@gmail.com</h5>
            <a href="#"><p class="small-text">click to edit</p></a>
          </div>
          

      </div>    
          <div
            class="container-fluid d-flex mt-5 justify-content-center align-items-center"
          >
            <h1>Preview</h1>
          </div>

          <div
            class="container-fluid d-flex mt-5 justify-content-around align-items-center"
          >
            <textarea name="" id="letter-preview">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, itaque quod. Dignissimos rerum minus impedit illo suscipit! Facilis, obcaecati nemo.
        </textarea
            >
          </div>

          <div class="container-fluid d-flex mt-5 justify-content-around">
            <button
              type="button"
              class="btn btn-lg btn-outline-dark"
              id="send-btn"
            >
              Save
            </button>
            <button
              type="button"
              class="btn btn-lg btn-outline-dark"
              id="send-btn"
            >
              Send
            </button>
          </div>
        </div>
      </div>
      <div
        class="container-fluid d-flex mt-5 justify-content-around align-items-center"
      ></div>
      <div class="container-fluid d-flex mt-5 justify-content-evenly">
        <div class="now-playing">Now Playing:</div>
        <div>
          <span id="artist-select">Arthur Rubenstein - </span>
          <span id="song-select">Nocturnes, Op. 9: No. 2 in E-Flat Major</span>
        </div>
      </div>
    </main>