<section class="mt-5 row align-items-center">
  <div class="container-fluid d-flex mt-5 justify-content-center align-items-center">
    <h1>Send</h1>
  </div>

  <div class="container-fluid d-flex mt-5 justify-content-around align-items-center">
    <textarea id="letter-input" cols="30" rows="10" placeholder="Enter your message here"></textarea>
  </div>

  <div class="container-fluid d-flex mt-5 justify-content-around align-items-center">
    <button type="button" class="btn btn-lg btn-outline-dark" id="send-btn">
      Next
    </button>
  </div>

  <div class="container-fluid d-flex mt-5 justify-content-around align-items-center"></div>

  <div class="container-fluid d-flex mt-5 justify-content-evenly">
    <div class="now-playing">Now Playing:</div>
    <div>
      <span id="artist-select">Snoh Aalegra - </span>
      <span id="song-select">Find Someone Like You</span>
    </div>
  </div>
  <iframe width="0" height="0" src="https://www.youtube.com/embed/8L0XuwPzmgU?controls=0&autoplay=1" title="YouTube video player" frameborder="0" allow="autoplay; accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<script src="/javascript/compose-letter/send.js"></script>