  <main>
      <div
      class="container-fluid d-flex mt-5 justify-content-center align-items-center"
    >
      <h1>Send</h1>
    </div>

    <div
    class="container-fluid d-flex mt-5 justify-content-around align-items-center"
  >
    <textarea name="" id="letter-input" cols="30" rows="10"></textarea>
    </div>
  </div>

 

    <div
      class="container-fluid d-flex mt-5 justify-content-around align-items-center"
    >
      <button type="button" class="btn btn-lg btn-outline-dark" id="you-btn">
        Next
      </button>
    </main>