    <main>
      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      >
        <h1>Song</h1>
      </div>

      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      ></div>

      <div
        class="container-fluid d-flex mt-5 justify-content-around align-items-center"
      >
        <h4>Search:</h4>
        <div class="input-form">
          <input type="search" name="" id="song-search" />
        </div>
      </div>

      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      ></div>

      <div
        class="container-fluid d-flex mt-5 justify-content-around align-items-center"
      >
        <button type="button" class="btn btn-lg btn-outline-dark" id="song-btn">
          Next
        </button>
      </div>

      <div
        class="container-fluid d-flex mt-3 justify-content-around align-items-center"
      >
        <img src="/assets/Spotify-logo.png" alt="" width="75" />
      </div>
    </main>