<main>
      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      >
        <h1>Style</h1>
      </div>

      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      >
        <input
          type="radio"
          id="caveat"
          name="font"
          value="1"
          style="display: none"
        />
        <label
          for="caveat"
          style="font-family: 'Caveat', cursive; font-size: 1.5rem"
          >Caveat - airy, playful, heartfelt</label
        ><br />
      </div>

      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      >
        <input
          type="radio"
          id="lato"
          name="font"
          value="2"
          style="display: none"
        />
        <label
          for="lato"
          style="font-family: 'Lato', sans-serif"
          class="input-option"
          >Lato - elegant, simple, touching</label
        ><br />
      </div>

      <div
        class="container-fluid d-flex mt-5 justify-content-center align-items-center"
      >
        <input
          type="radio"
          id="merriweather"
          name="font"
          value="3"
          style="display: none"
        />
        <label
          for="merriweather"
          style="font-family: 'Merriweather', serif"
          class="input-option"
          >Merriweather - strong, classic, refined</label
        ><br />
      </div>
      <div
        class="container-fluid d-flex mt-5 justify-content-around align-items-center"
      >
        <button
          type="button"
          class="btn btn-lg btn-outline-dark"
          id="style-btn"
        >
          Next
        </button>
      </div>
    </main>