    <main class="mt-5 row align-items-center">
      <main>
        <div
          class="container-fluid d-flex mt-5 justify-content-center align-items-center"
        >
          <h1>Them</h1>
        </div>

        <div
          class="container-fluid d-flex mt-5 justify-content-around align-items-center"
        >
          <h4>Their Name:</h4>
          <div class="input-form">
            <input type="text" name="" id="their-name" />
          </div>
        </div>

        <div
          class="container-fluid d-flex mt-5 justify-content-around align-items-center"
        >
          <h4>Their Email:</h4>
          <div class="input-form">
            <input type="text" name="" id="their-email" />
          </div>
        </div>

        <div
          class="container-fluid d-flex mt-5 justify-content-around align-items-center"
        >
          <button
            type="button"
            class="btn btn-lg btn-outline-dark"
            id="them-btn"
          >
            Next
          </button>
        </div>
      </main>
    </main>
    <script src="../../../public/javascript/compose-letter.js"></script>