body {
    font-family: 'Caveat', cursive;
    color: #7089AC;
}

.logo {
    width: 300px;
}

.authenticate {
    display: block;
}

h1 {
    font-size: 5rem;
}

.button {background-color: #e7e7e7; color: black;}

a:link {
    text-decoration: none;
    color: #7089AC;

}

a:hover {
    text-direction: none;
    color: #7089AC;
}

a:visited {
    text-decoration: none;
    color: #7089AC;
}

a:active {
    text-decoration: none;
    color: #7089AC;
}