<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input id="their-name" value="jsearching"></input>
    <input id="their-email" value="j.searching.01@gmail.com"></input>
    <input id="your-name" value="abcdidgaf"></input>
    <input id="your-email" value="abcdidgaf@gmail.com"></input>
    <textarea id="email-body">
You received a Fermata experiential letter from a loved one.
Experience it here:
file:///C:/Users/Ronnie/projects/fermata-project-two/views/layouts/sandbox/Preview.html#</textarea>
    <input type="button" value="Send Email" id="send">
    <script src="https://smtpjs.com/v3/smtp.js">
    </script>
    <!-- <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
    (function(){
        emailjs.init("B3nU2_4BZ3juQGPTB");
    })();
    </script> -->
    <script src="../../../public/javascript/email-api.js"></script>
</body>
</html>