<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&family=Lato&family=Merriweather&display=swap"
      rel="stylesheet"
    />

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="/public/stylesheets/style.css" />

    <!-- HANDLEBARS -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    <title>Preview</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img
            src="/assets/img/Fermata-logos_transparent.png"
            width="100"
            height="100"
            alt="Fermata logo"
          />
        </a>
        <h4 class="me-3">song. style. send.</h4>
      </nav>
    </header>
    <main class="mt-5 row align-items-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2 mt-3 ms-3">
            <h5 id="their-name">Jenny</h5>
            <h5 id="their-email">jennyfromtheblock@gmail.com</h5>
            <a href="#"><p class="small-text">click to edit</p></a>
          </div>
          

      </div>    
          <div
            class="container-fluid d-flex mt-5 justify-content-center align-items-center"
          >
            <!-- <h1>Preview</h1> -->
          </div>

          <div
            class="container-fluid col-6 d-flex mt-2 justify-content-around align-items-center letter-preview"
          >
            <!-- <textarea name="" id="letter-preview">
        </textarea> -->
        <h4><br><br>

          Dearest Jenny, <br><br>

          I know so much of our relationship has to live in the lights and amongst the cameras.  It’s the gift and burden of our personal successes.  <br><br>
          
          This is why I wanted to send you this letter in hopes that it receives you at a time where you can just sit back, listen to the song we danced to the night we rekindled our love, and feel even just a bit of the love that I am trying to pour into these words. <br><br>
          
          You are my final destination.  I can’t wait to spend the rest of my life with you. To grow old with you.  To be holding your hand on the everlasting trail of our love.  <br><br>
          
          Thank you for being so patient with me and for allowing me my journey and missteps along the way. For that I am forever grateful.  Know that I will too allow you to be you, which to me, is perfect always. <br><br>
          
          I can’t wait to marry you. <br><br>
          
          Yours, <br><br>
          
          Ben</h4>
          </div>

          <div class="container-fluid d-flex mt-5 justify-content-around">
            <button
              type="button"
              class="btn btn-lg btn-outline-dark"
              id="send-btn"
            >
              Save
            </button>
            <a href="/views/layouts/sandbox/Sent.html">
              <button
                type="button"
                class="btn btn-lg btn-outline-dark"
                id="send-btn"
              >
                Send
              </button>
            </a>
          </div>
        </div>
      </div>
      <div
        class="container-fluid d-flex mt-5 justify-content-around align-items-center"
      ></div>
      <div class="container-fluid d-flex mt-5 justify-content-evenly">
        <span class="now-playing">Now Playing:</span>
        <div>
          <span id="artist-select">Snoh Aalegra - </span>
          <span id="song-select">Find Someone Like You</span>
        </div>
      </div>
    </main>
  </body>
</html>
